<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849333103866-o2oagdond8nkiq701udaog6i28chglvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849333103866-o2oagdond8nkiq701udaog6i28chglvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGbwX9IiblKeXJkjkrq_X6X_RhG4aaU4</string>
	<key>GCM_SENDER_ID</key>
	<string>849333103866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viewCode.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>login-view-code</string>
	<key>STORAGE_BUCKET</key>
	<string>login-view-code.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849333103866:ios:52910038154dfad8aaad43</string>
</dict>
</plist>